div{    
    border-image: url('../img/ramka.png');
    border-image-slice: 38;
	border-image-repeat: stretch;
	border-style: solid;
	border-width: 38px;
	width: 355px;
	height: 444px;
	margin: 0 auto;
}