h2{
    font-family: 'Bad Script', cursive;
    font-family: 'Marck Script', cursive; 
    font-size: 30px;  
    color: indigo;
    text-align: center;
}
p{
  font-family: 'Bad Script', cursive;
  font-family: 'Marck Script', cursive;
  font-size: 25px;
  color: indigo;
  text-align: center;
}