.name{
    font-size: 22px;
    font-weight: 700;
}
.birth{
    color: green;
}
.champ{
    font-weight: 300;
    color: red;
}
a{
    color: blue;
    padding-left: 15px;
    display: block;
    background-image: url('../extref.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.disc{
    font-style: italic;
    color: blue;
}
