* {
    margin: 0;
    padding: 0;
}
.moving {
    width: 264px;
    height: 380px;
    animation: MoveBoy 2s steps(8) infinite;
}
@keyframes MoveBoy{
    from{background: url('SPRITES.jpg') 0 0;}
    to{background: url('SPRITES.jpg') -2112px 0;}
}