*{
    margin: 0px;
}
.header, .footer {
    background-color: #ADD8E6;
    height: 50px;
    padding-top: 15px;
}
h2 {
    color: blue;
    text-align: center;
}
.main {
    margin: 0; 
    background-color: #F0E68C;
}
.menu {
    width: 200px; 
    float: left;
}
h3 {
    text-align: center;
}
.content {
    margin-left: 215px;
    background-color: white; 
    background-image: url(img/ball.png);  
    background-position: right top; background-repeat: repeat-y; vertical-align: top;
    padding-top: 20px;
}
img {
    float: left; 
    margin: 15px 15px 15px 15px;
}
@media (max-width: 530px) {
    .header, .footer {
        height: 100px;
    }
}
@media (max-width: 450px) {
    .menu {
        float: none;        
    }
    li {
        display: inline;

    }
    a {
        padding: 5px;
    }
    .content {
        margin-left: 1px;
    }
}