.ram{
    background-image: url('../img/A.gif'), url('../img/B.gif'),
    url('../img/C.gif'), url('../img/D.gif'),
    url('../img/Vert.gif'), url('../img/Vert.gif'), 
    url('../img/Horiz.gif'), url('../img/Horiz.gif');  
    background-position: left top, right top,  bottom left, bottom right, left, right, top, bottom;
    background-repeat:  no-repeat, no-repeat, no-repeat, no-repeat,repeat-y, repeat-y, repeat-x, repeat-x;
   }
div{
    color: red;
    padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;
    
}