.image {
    position: relative;
    margin: auto;
    width: 600px;
    height: 400px;
}
.smoke {
    position: absolute;
    top: 65px;
    left: 175px;
}
.bio {
    position: relative;
    top: 10px;
    left: -90px;
    float: left;
}
.injan {
    position: relative;
    float: left;
    top: 0px;
    left: 90px;
}
.manwom {
    position: relative;
    float: left;
    top: 180px;
    left: 0;
}
.manwom:hover, .injan:hover, .bio:hover {
    z-index: 1;
}